.side-menu-head{
  position: fixed;
    width: 260px;
}
.bg-img{
  top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    z-index: 1;
    display: block;
    position: absolute;
  background-image: url(https://demos.creative-tim.com/material-dashboard-react/static/media/sidebar-4.fc9cb053.jpg);
  background-size: cover;
  background-position: center center;
}
.bg-img:after{
  width: 260px;
    height: 100%;
    z-index: 3;
    content: "";
    display: block;
    opacity: .8;
    position: absolute;
    background: #000;
}
.side-menu{
  position: relative;
  top:0px;
  height:100vh;
  width:260px;
  left: 0;
  overflow: hidden;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  z-index:5;
}
.side-menu ul{
  max-height: calc(100vh - 67px);
  margin-top: 3px;
  overflow: auto;
}
.side-menu li:not(:first-child){
  margin-top:0px !important;
}
.side-menu li a{
  font-weight: bold;
  background: white !important;
  color: #2271a1 !important;
  padding: 15px 15px !important;
  border-radius: 5px !important;
  margin: 10px;
}
.nav>li>a:hover{
 background: white !important;
  color: #2271a1 !important;
}
.side-menu li>.active,.side-menu li>.active:hover{
 background: #00acc1 !important;
   color: white !important;
}
.header{
  position:relative;
  color:white !important;
  font-size: 20px;
  padding: 16px 10px !important;
  text-align: center;
}
.header::after{
  right: 15px;
    width: calc(100% - 27px);
    bottom: 0;
    height: 1px;
    content: "";
    position: absolute;
    background-color: rgba(180, 180, 180, 0.3);
}